html, body {
  margin: 0;
  padding: 0;
  background-color: #d2ec8d;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

header {
  height: 50px;
  background-color: black;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}

img {
  height: 300px;
  width: 200px;
  object-fit: cover;
}

.hp-block {
  position: relative;
  color: rgb(5, 5, 5);
  text-shadow: 0 0 4px white;
  border: solid 1px #ae0101;
  width: 40px;
}

.hp {
  background-color: #ae0101;
  width: 40px;
  height: 100%;
  position: absolute;
  bottom: 0;
}

.hp-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left, .right {
  display: flex;
  position: relative;
}

.game-field {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.hit-btn {
  margin-left: auto;
  margin-right: auto;
  background-color: #ae0101;
  color: #fff;
  padding: 5px 8px;
  cursor: pointer;
}

.btn-block {
  display: flex;
  justify-content: center;
}

.hero-name {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(5, 5, 5);
  text-shadow: 0 0 4px white;
  margin: 0;
}