body, html {
  background-color: rgb(203, 170, 127);
}

img {
  height: 60px;
  width: 40px;
  object-fit: cover;
  position: absolute;
  top: 0; 
  left: 0;
}

.red, .green, .blue {
  padding: 2rem;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.success {
  color: darkgreen;
}

.error {
  color: rgb(174, 26, 26)
}

.hidden {
  opacity: 0;
}